<div class="signup">
  <div class="container">
    
    <%= form_for @user do |f|%>
    <%= f.text_field :first_name, placeholder: 'First name'%><br><br>
    <%= f.text_field :last_name, placeholder: 'Last name'%><br><br>
    <%= f.text_field :email, placeholder: 'Email'%><br><br>
    <%= f.password_field :password_digest, placeholder: 'Password'%><br><br>
    <%= f.submit 'Signup'%>
    <%end%>
  </div>
</div>